<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Thank You</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

      body {
        font-family: "Oswald", sans-serif;
        background: linear-gradient(to right, #a0dbb7, #8fd3f4);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .thank-you-container {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
      }

      h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 32px;
        color: #333333;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        color: #333333;
        margin-bottom: 30px;
      }

      a {
        background: #1abc9c;
        color: #fff;
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }

      a:hover {
        background: #16a085;
      }
    </style>
  </head>
  <body>
    <div class="thank-you-container">
      <h1>Thank You!</h1>
      <p>
        Your information has been submitted successfully. We'll get back to you
        soon.
      </p>
    </div>
  </body>
</html>
